*{margin: 0;padding: 0;font-size: 100%;border: none;outline: none;font-weight: 300;box-sizing: border-box;font-family: 'Lato',sans-serif;}
body {background-color: #f5f5f5;}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}
/*========== CONTAINER ==========*/
.container {width: 100%;float: left;padding: 3% 4%;text-align: center;}/*classe criada para otimizar o código, pois estas propriedades se repetem nas outras categorias principais: .cabecalho, .banner .servicos .newsletter .rodape. Não esquecer de alterar na página principal também. Incluir na class correspondente*/

/* CABECALHO */
/*.cabecalho {width:100%;float:left;padding:3% 4%;}*//*substituído pelo integralmente pelo .container que possui propriedades em comum aos demais*/
.logo{width:56px;height:56px;float:left;background: url(../img/edu_logo_mobile_simples.png) center center/56px no-repeat;font-size: 0;}
.btn-menu{width: 56px;height: 56px;float: right;text-align: center;color: #fff;border-radius: 56px;cursor: pointer;background: linear-gradient(to right,#ce2e3c,#da6709);}
/* MENU */
.menu {display:none;width: 100%;height: 100%;position: fixed;background-color: rgba(0,0,0,0.9);top: 0;left: 0;}/*Display none para não aparecer logo no início da página, ou seja, terá que ser chamado via botão*/
.btn-close {font-size: 1.5em;color: #fff;float: right;cursor: pointer;margin-right: 2% 3% 0 0;}/*botao de fechar flutuando a 2% superior, 3% direito, 0 base e 0 na esquerda , cursor ponteiro, cor da fonte branca, tamanho da fonte 1.5*16px*/
.menu ul{width: 100%;float: left;text-align: center;}/*flutuando a esquerda, centralizado */
.menu li {padding: 1.5%;}/*espacamento nos itens do menu*/
.menu li a {font-size: 2em;color: #fff;padding: 1.5% 3%;}/*espacamento, cor e tamanho da fonte*/
.menu li a:hover {border:1px solid #da6709;} /*efeito de borda quando se passa o mouse*/
/* BANNER */
/*.banner {width: 100%;float: left;text-align: center;padding: 3% 4%;background: url(../img/bg.jpg) no-repeat fixed;}*//* ocupa 100% da tela, flutua a esquerda, texto alinhado no centro, margens de 3% em cima e em baixo e 4% na direita e esquerda, imagem de fundo bg.jpg*/
.banner {background: url(../img/bg.jpg) no-repeat fixed;}/*Alterado para inclusão do .container, que possui configurações em comum com as outras classes*/
.title {width:100%}
.title h2 {font-size: 2.5em;color: #fff;font-weight: 700;}/* h2 do banner com fonte 2.5*16px, cor branca e fonte com espessura de 700 */
.title h3 {font-size: 1.5em;color: #fff;}/* h3 do banner com fonte 1.5*16px, cor branca e fonte com espessura de fonte padrão, herdada de 300 da especificação geral (lá no topo como *)*/
.buttons{width: 100%;margin-top: 2%;}
.buttons i {float: right;} /* todos os ícones flutuam a direita*/
.btn {width: 100%;font-size: 1.5em;text-align: left;cursor: pointer;padding: 5%;border-radius: 10px;} /*classe criada para otimizar o código, pois estas propriedades se repetem nos dois botões : btn-cadastrar e btn-sobre NECESSÁRIO INCLUIR esta propriedade no class do HTML correspondente*/
.btn-cadastrar {background-color: #fff;color: #130400;}
.btn-sobre {background-color:#130400;color: #fff;margin-top: 2%;}
/*SERVIÇOS*/
/*.servicos {width: 100%;float: left;padding: 3% 4%;}*//*substituído pelo integralmente pelo .container que possui propriedades em comum aos demais*/
.servico {width: 100%; background-color: #fff;text-align: left;border-radius: 7px;margin-bottom: 3%;}
.servico img {border-radius: 7px 7px 0 0;} /* arredondar 7px parte superior esquerda, 7px parte superior direita, 0 parte inferior */
.inner {padding: 7%;} /*espaçamento de 7%*/
.inner a {font-size: 1.5em;color: #130400;font-weight: 700;}
.inner h4 {font-size: 1.2em;color: #130400;margin-top: 2%;}
.inner p {margin-top: 6%;color: #130400;line-height: 1.5em;}
/* NEWSLETTER */
.newsletter {background-color: #130400;}/*Alterado para inclusão do .container, que possui configurações em comum com as outras classes*/
.newsletter h2{font-size: 1.5em;color: #fff;font-weight: 700;}
.newsletter h3 {color: #fff;}
.newsletter form {margin-top: 2%;}
.newsletter input {width: 100%; background-color: #130400;color: #fff;border: 1px solid rgba(255,255,255,0.3);padding: 5%;border-radius: 5px;}
.newsletter button {width: 100%;background-color: #fff;color: #130400;padding: 5%;border-radius: 5px;cursor: pointer;margin-top: 2%;}
/* RODAPE */
.rodape{background: linear-gradient(to right,#ce2e3c,#da6709);}/*Alterado para inclusão do .container, que possui configurações em comum com as outras classes*/
.social-icons a {font-size: 1.5em;color: rgba(255,255,255,0.7);margin-right: 3%;}
.social-icons a:last-child {margin-right: 0;} /* retira o espaçamento do último ícone - não visível, somente para ficar correto e evitar problemas futuros*/
.social-icons a:hover {color: rgba(255,255,255);}/*ao passar o mouse, fica branco sólido*/
.copyright {margin-top: 2%;color: rgba(255,255,255,0.7);}
/*MEDIA TYPES
screen
Para monitores ou dispositivos com telas coloridas e resolução adequada. 
print
Para impressoras. Muito usado para dar uma versão de impressão do site.
*/
/*========== MOBILE FIRST ==========*/
/*== SMALL DEVICES - SMARTPHONES ===*/
@media screen and (min-width: 480px){
.logo{width:214px;background: url(../img/edu_logo2.png) center center/214px no-repeat;}   
.btn {font-size: 2em;}
}
/*==== SMALL DEVICES - TABLETS ====*/
@media screen and (min-width: 768px){
.servico{width: 49%;float: left;margin-right: 2%;}
.servico:nth-child(2){margin-right: 0;}/*nth-child(2) se refere ao segundo elemento, assim, ficarão 2 serviços lado a lado, pois se ficar com width 49% cada elemento, 2 elementos ficariam 98%, mais 2 margens de 2%, ficaria 102%, o que não cade na tela*/
.newsletter h2 {font-size: 2em;}
.newsletter h3 {font-size: 1.5em}
.newsletter input {width: 70%;padding: 2%;float: left;margin-right: 1%;}
.newsletter button {width: 29%;padding: 2%;float: right;margin-top: 0;}
}
/*MEDIUM DEVICES - TABLETS e DESKTOPS*/
@media screen and (min-width: 960px){
.title {width:70%; float: left;text-align: left;}/*reduz o título para 30% da tela para colocar lado a lado com os botões*/
.title h2 {font-size: 3em;}
.title h3 {font-size: 2em;}
.buttons {width: 30%;float: right;margin-top: 0;}/*reduz os botões para 70% da tela e zera a margem para colocar lado a lado com o título*/
.servico {width: 32%;}/*reduz a largura dos seerviços para 32% da tela para colocar todos os 3 serviços lado a lado (32+32+32+4 de margem=100%)*/
.servico:nth-child(2){margin-right: 2%;} /*retorna a margem para 2%, pois foi tirada no @media anterior */
.servico:nth-child(3){margin-right: 0;} /*zera a margem do 3o elemento para não transbordar da tela (se não ficaria 102%) */
.newsletter input {width: 60%;float: none;}
.newsletter button {width: 20%;float: none;}
}
/*== LARGE DEVICES - WIDE SCREENS ==*/
@media screen and (min-width: 1280px){
.btn-menu{display: none;}/*tira o botão de menu e coloca na horizontal*/
.btn-close {display: none;}/*tira o botão de menu e coloca na horizontal*/
.menu {width: auto;height: 56px;line-height: 56px;float: right;background-color: #f5f5f5;display:block !important;position: static;}/*o !important do display:block !important é essencial no caso de resize do navegador quando o usuário o faz manualmente, se não, o menu desaparece no resize*/
.menu li {padding: 0;float: left;}
.menu li a {color: #130400;font-size: 1em;padding: 15px;}
.menu li a:hover {border:none;color: #da6709;}
}